.sub-container {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 4px;
}

.ss-container {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 4px;
}

.ss-container button {
  margin-left: 25%;
}

#status-div,
#result-div {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 6px;
}

#status-div > pre:first-child,
#result-div > pre:first-child {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
}

#status-div > pre:last-child,
#result-div > pre:last-child {
  font-size: 18px;
  font-weight: 500;
  margin-left: 2.4rem;
  color: maroon;
}

.general {
  margin: 40px 1px 40px 1px;
}

.status-e {
  border: 2px solid red !important;
  color: red;
}
.status-s {
  border: 2px solid lime !important;
}
.status-n {
  border: 2px solid blue !important;
}

.v-spaced {
  margin-top: 20px;
  margin-bottom: 20px;
}

#abi {
  min-height: 15rem;
  max-height: 20rem;
  overflow-y: scroll;
}

input,
label,
button,
pre {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
